 header.blade.php

| {{--  這邊是主要版型的上方導覽列  --}}
nav.navbar.navbar-light.navbar-blue.sticky-top
 | {{--  表單是給搜尋用的，之後看搜尋功能的寫法可以再改  --}}
 form.form-inline.my-2.my-lg-0
   .input-group.input-group-sm(style='max-width:200px;')
     input.form-control(type='search', placeholder='Search', aria-label='Search', style='max-width:200px;')
     .input-group-btn
       button.btn.btn-default(type='submit')
         i.fa.fa-search
